@use "../../global/mixin" as gm;

.c-articleView {
    &__bodyContent {
      line-height: 1.9;

      &:first-child {
        margin-top: 0;
      }

      cite, em, i {
        font-style: italic;
      }

      strong {
        font-weight: 700;
      }

      a {
        color: #0f83fd;

        &:hover {
          text-decoration: underline;
        }
      }

      p + p {
        margin-top: 1.5em;
      }

      ol, ul {
        margin: 1.4rem 0;
        line-height: 1.7;

        > li {
          margin: 0.4rem 0;
        }

        ol, ul {
          margin: 0.2em 0;
        }

        p {
          margin: 0;
        }

        ul {
          padding-left: 1.8em;
          list-style: disc;

          &::marker {
            font-size: 1.1em;
            color: #5e6478;
          }
        }

        ol {
          padding-left: 1.7em;
          list-style: decimal;

          > li::marker {
            color: #535872;
            font-weight: 600;
            letter-spacing: -0.05em;
          }
        }
      }

      &.contains-task-list {
        .task-list-item {
          list-style: none;

          &.task-list-item-checkbox {
            margin-left: -1.5em;
            font-size: 1em;
            pointer-events: none;
          }
        }
      }

      h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
        margin-top: 0.3em;
      }

      h1, h2 {
        margin-top: 2.3em;
        margin-bottom: 0.5em;
        border-bottom: 1px solid #5c93bb2b;

        &:first-child {
          padding-bottom: 0.2em;
        }
      }

      h2 {
        padding-bottom: 0.3em;
      }

      h1 {
        font-size: 1.7em;
        margin-bottom: 1.1rem;
      }

      h2 {
        font-size: 1.5em;
      }

      h3 {
        font-size: 1.3em;
      }

      h4 {
        font-size: 1.1em;
      }

      h5 {
        font-size: 1em;
      }

      h6 {
        font-size: 0.9em;
      }

      @include gm.breakpoint(sm){
        h1 {
          font-size: 1.6em;
        }

        h2 {
          font-size: 1.4em;
        }

        h3 {
          font-size: 1.2em;
        }

        h4 {
          font-size: 1.1em;
        }

        h5 {
          font-size: 1em;
        }

        h6 {
          font-size: 0.85em;
        }
      }

      hr {
        border-top: 2px solid #5c93bb2b;
        margin: 2.5rem 0;
      }

      blockquote {
        font-size: 0.97em;
        margin: 1.4rem 0;
        border-left: 3px solid #9dacb7;
        padding: 2px 0 2px 0.7em;
        color: #505c64;

        p {
          margin: 1rem 0;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.twitter-tweet {
          display: none;
        }
      }

      table {
        margin: 1.2rem auto;
        width: auto;
        border-collapse: collapse;
        font-size: 0.95em;
        line-height: 1.5;
        word-break: normal;
        display: block;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        td, th {
          padding: 0.5rem;
          border: 1px solid #cfdce6;
          background: #fff;
        }

        th {
          font-weight: 700;
          background: #edf2f7;
        }
      }

      code {
        color: #FFF;
        padding: 0.2em 0.4em;
        font-size: 0.85em;
        border-radius: 4px;
        vertical-align: 0.08em;
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        -webkit-font-smoothing: antialiased;
      }

      pre {
        margin: 1.3rem 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 0.7em;
        word-break: normal;
        word-wrap: normal;
        display: flex;

        &:after {
          content: "";
          width: 8px;
          flex-shrink: 0;
        }

        code {
          margin: 0;
          padding: 0;
          font-size: 0.9em;
        }

        > code {
          display: block;
          padding: 1.1rem;
        }
      }

       @include gm.breakpoint(sm){
        pre > code {
          padding: 1rem 0.8rem;
          font-size: 0.85em;
        }
      }
    }


   &__content {
        width: calc(100% - 330px);

       @include gm.breakpoint(md){
            width: 100%;
       }
   }

    &__header {
        line-height: 1.4;
        padding: 3.8rem 0 4rem;
        text-align: center;
        &-main {
           position: relative; 
        }
        &-thumbnail {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            max-width: 375px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &-title {
            display: inline-block;
            font-size: 24px;
            margin: 1.2rem auto 0;
            max-width: 780px;
            text-align: center;
        }
        &-publishDate {
            margin: 1.2rem auto 0;
            span {
                color: var(--c-text-low-priority);
                display: block;
                font-size: var(--base-size-16);
                margin-bottom: var(--base-size-16);
            }
        }
    }

    &__inner {
        position: relative;
    }
    &__main {
        background: var(--c-bg-base);
        border: 1px solid var(--c-neutral-border-lighter);
        border-radius: 12px;
        padding: 40px 0;
        font-size: 16px;
    }

    &__sidebar {
        width: 300px;

        @include gm.breakpoint(md){
            display: none;
        }
        &-sticky {
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;
            max-height: calc(100vh - 50px);
        }
        &-tableContent {
            border: 1px solid var(--c-neutral-border-lighter);
            border-radius: 12px;
            padding: 20px 20px 25px;
            overflow: auto;
            background: var(--c-bg-base);
        }

        &-tableContentBody {
            font-size: 14px;
            line-height: 1.5;
        }
        
        &-tableContentItem {
            position: relative;
            padding-left: 21px;
            margin-top: 5px;
            font-weight: 700;
            a {
                color: var(--c-text-low-priority);
                display: block;
                display: -webkit-box;
                max-height: 3.05em;
                margin: 8px 0;
                overflow: hidden;
                position: relative;
                text-decoration: none;
                transition: none;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
        &-tableContentItem.active {
            &:before {
                background: var(--c-bg-primary);
            }
            a {
                color: #000;
            }
        }
    }
}

