.c-breadcrumb {
    position: relative;

    &__list {
               align-items: center;
        display: flex;
        position: absolute;
        top: -2.5rem;
        width: 100%;
    }
    &__item {
       a {
           text-decoration: none;
       }
       &.active {
           color: var(--c-general-primary);
           position: relative;
       }
       &:not(:last-child) {
           &::after {
               content: '';
               border-top: solid 2px var(--c-text-lower-priority);
               border-right: solid 2px var(--c-text-lower-priority);
               display: inline-block;
               height: 0.5rem;
               margin-left: 4px;
               margin-right: 8px;
               margin-bottom: 1px;
               transform: rotate(45deg);
               width: 0.5rem;
           } 
       }
    }
}
