.c-steps {
  counter-reset: count;
  margin: 2em 0;
  position: relative;

  &__content {
    padding: 0 0 1.3em 2.3em;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: var(--c-neutral-border);
      border-radius: 50%;
      position: absolute;
      top: 7px;
      left: 0;
    }

    &::after {
      content: "";
      display: block;
      height: calc(100% - 10px);
      border-left: solid 2px #bbb;
      position: absolute;
      top: 20px;
      left: 4px;
    }
  }

  &__label {
    color: #6ab5a5;
    font-weight: bold;

    &::before {
      content: "";
      display: block;
      width: 12px;
      border-top: solid 3px #6ab5a5;
      position: absolute;
      top: 10px;
      left: 12px;
    }

    &::after {
      counter-increment: count;
      content: counter(count);
      position: relative;
      left: 0.3em;
    }
  }

  &__body {
    margin-top: 0.5em;
    padding: 0 0 1em;

    &::before {
      content: "";
      height: calc(100% - 35px);
      display: block;
      border-left: solid 3px #6ab5a5;
      position: absolute;
      top: 10px;
      left: 21px;
    }

    &::after {
      content: "";
      width: 80%;
      display: block;
      border-bottom: solid 3px #6ab5a5;
      position: absolute;
      bottom: 22px;
      left: 21px;
    }
  }

  > :last-of-type::after {
    display: none;
  }
}

