@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html, body {
  font-family: "Noto Sans JP", sans-serif !important;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  margin-bottom: 64px;
}

.swiper {
  width: 100%;
  height: 52vh;
  --swiper-theme-color: #f8f9fa;
  --swiper-navigation-size: 24px;
}
.swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.swiper .swiper-wrapper .swiper-slide .text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
}
.swiper .swiper-wrapper .swiper-slide .text-wrapper .blog-ttl {
  font-size: clamp(24px, 5vw, 48px);
}
.swiper .swiper-wrapper .swiper-slide::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.ls-1 {
  letter-spacing: 0.1em;
}

.code-box {
  background-color: #1f1f1f;
  border-radius: 5px;
}
.code-box .code-ttl {
  height: 24px;
  font-size: 16px;
  margin: 0;
  padding: 1px 4px;
  color: #f8f9fa;
}
.code-box small {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 24px;
  background-color: #000;
  color: #fff;
  padding: 1px 4px;
}
.code-box small::after {
  content: "×";
  font-size: smaller;
  margin-left: auto;
}
.code-box .code-body {
  border: 0px;
  border-top: 1px solid #000;
}
.code-box .code-body .code-text {
  margin: 0;
  border: 0;
}
.code-box .code-body::after {
  content: "";
  display: block;
  background-color: #663399;
  width: 100%;
  height: 16px;
}

.contact {
  max-width: 1360px;
  margin: 0 auto;
}
.contact .contact-bg {
  background-image: url("../img/connect.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: content-box;
  width: 100%;
  height: 420px;
}
.contact .contact-bg .contact-inner {
  width: 100%;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.2);
}
.contact .contact-bg .contact-inner .contact-btn {
  position: relative;
}
.contact .contact-bg .contact-inner .contact-btn::after {
  content: "";
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -4px;
}

.card-item {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.catTag {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 8px 12px;
  text-align: center;
  color: #f8f9fa;
  background-color: #63518b;
  border-radius: 25px;
  font-size: 0.8em;
}
.catTag::before {
  content: "#";
  position: absolute;
  left: 16px;
}

@media screen and (max-width: 960px) {
  .contact .contact-bg .contact-inner .contact-btn {
    font-size: small;
  }
  .contact .contact-bg .contact-inner .contact-btn::after {
    right: 9px;
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    margin-top: -2px;
  }
}/*# sourceMappingURL=style.css.map */