@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html,body {
    font-family: 'Noto Sans JP', sans-serif !important;
}
p {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ pro w3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul,li {
  list-style: none;
}
section {
  margin-bottom: 64px;
}
header {
  z-index: 100;
  .header-search {
    width: 118px;
    outline: none;
  }
  .header-search::placeholder {
    font-weight: bold;
    font-size: 16px;
    color: #999999;
  }
  .del-btn {
    border: none;
    opacity: 0;
  }
}
#toggleNavBtn[aria-expanded="true"] + #toggleNavMenu {
  opacity: 1;
  transform: translateX(0px);
}
#toggleNavBtn[aria-expanded="false"] + #toggleNavMenu {
  opacity: 0;
  transform: translateX(100vw);
}
.swiper {
    width: 100%;
    height: 52vh;
    --swiper-theme-color: #f8f9fa;
    --swiper-navigation-size: 24px;

    .swiper-wrapper {
    
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;

        .text-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            width: 100%;
            text-align: center;
            .blog-ttl {
              font-size: clamp(24px, 5vw, 48px);
            }
        }
    }
    
      .slide-mask::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
}

.ls-1 {
    letter-spacing: .1em;
}
 
.text-larger {
  font-size: larger;
}
// .code-box {
//   background-color: #1f1f1f;
//   border-radius: 5px;
//   box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.35);

//   &:hover {
//     box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.35);
//   }

//   .code-ttl {
//     height: 24px;
//     font-size: 16px;
//     margin: 0;
//     padding: 1px 4px;
//     color: #f8f9fa;
//   }
//   small {
//     display: flex;
//     justify-content: space-between;
//     width: 30%;
//     height: 24px;
//     background-color: #000;
//     color: #fff;
//     padding: 1px 4px;
//     &::after {
//       content: '\0d7';
//       font-size: smaller;
//       margin-left: auto;
//     }
//   }
//   .code-body {
//     border: 0px;
//     border-top: 1px solid #000;
//     position: relative;
//     .code-text {
//       margin: 0;
//       border: 0;
//     }
//     &::after {
//       position: absolute;
//       content: '';
//       display: block;
//       background-color: #663399;
//       width: 100%;
//       height: 16px;
//       bottom: 0;
//     }
//   }
// }

.contact {
  max-width: 1320px;
  margin: 0 auto;
  .contact-bg {
    background-image: url('../img/connect.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: content-box;
    width: 100%;
    height: 420px;

    .contact-inner {
      width: 100%;
      height: 420px;
      background-color: rgba(0,0,0,0.2);
    }
  }
}
.border-btn {
  position: relative;
  &::after {
      content: '';
      width: 12px;
      height: 12px;
      border: 0px;
      border-top: solid 2px #ffffff;
      border-right: solid 2px #ffffff;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 24px;
      margin-top: -4px;
  }
}

.btn-long {
  &::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -4px;
  }
}
.card-item {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  .txt {
    z-index: 100;
  }
  &:hover {
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2);
  }

  &:hover .blog-ttl {
    text-decoration: underline;
    color: #000;
  }

  &:hover .blog-img {
    height: 220px;
  }
}
.arrow {
  position: relative;
  display: inline-block;
  border: #6c757d solid 1px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  right: 48px;
  &::after{
    content: '';
    width: 6px;
    height: 6px;
    border-top: solid 2px #6c757d;
    border-right: solid 2px #6c757d;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.catTag {
  position: relative;
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #f8f9fa;
  border-radius: 25px;
  font-size: .7em;
  &::before {
    content: '#';
    position: absolute;
    left: 16px;
  }
}
.border-image {
  position: relative;
  background: linear-gradient(135deg, #7a6296, #ffffff);
  border-radius: 50%;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border-radius: 50%;
    background-color: #000000;
    opacity: .1;
  }
  img {
    padding: 24px;
    border-radius: 50%;
    z-index: 2;
  }
}
.blog{
  position: relative;
  top: 120px;

  .blog_title-heading {
    font-size: clamp(24px, 5vw, 48px);
  }

  .blog_body {
    h1,h2 {
      margin: 48px 0px;
      padding-bottom: 8px;
      border-bottom: 2px solid rgba(0, 0, 0, .3);
    }
    h3 {
      margin-bottom: 28px;        
    }
    h4, h5, p, i {
      margin-bottom: 14px;
      line-height: 32px;
    }
    li {
      list-style: square;
    }
    img {
      max-width: 696px;
    }
  }

  .blogIndexWrapper-list {
    border-radius: 12px;
    .list-large {
      list-style: square;

      .blogIndexWrapper-listItem_heading {
          border-bottom: 1px solid rgba(0, 0, 0, .3);
          font-size: 18px;
          font-weight: bold;
        }  
    }
    .list-small {
      .blogIndexWrapper-listItem_heading {
          font-size: 12px;
      }  
    }
  }
}
.sticky-top {
  top: 120px;
}
.breadcrumb {
  margin-top: 120px;
  align-items: center;
  a.active {
    border-bottom: 1px solid #000;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    color: #d5d5d8;
    line-height: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.375em 0.64952em;
    border-left-color: currentColor;
    border-right: 0;
    margin-top: 8px;
  }
}
.accordion-button:focus {
  border: none !important;
  box-shadow: 0 0 0 0 !important;
}
.accordion-button:not(.collapsed) {
  color: #333;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cc99ff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.errorImage {
  background-image: url("https://devil-code.com/img/brand-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;

}

@media screen and (max-width: 768px) {

  .header-search {
    text-align: center;
    margin-left: 16px;

  }

  .border-image {    
    &::after {
      width: 85%;
      height: 85%;
    }
  }
  .blog {
    top: 36px;
    .blog_body {
      img {
        max-width: 340px;
      }
      li {
        margin-bottom: 8px;
      }
      h4, h5, p, i {
        font-size: smaller;
      }  
    }
  }
  .breadcrumb {
    font-size: smaller;
  }
}

@media screen and (max-width: 960px) {
  .header-search {
    width: 120px;
  }
  .border-btn {
    font-size: small;
    &::after {
        right: 9px;
        width: 6px;
        height: 6px;
        border: 0px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        margin-top: -2px;
      }
  }
  .blog {
    img {
      width: 480px;
    }
    .blogIndexWrapper {
      top: 120px;
    }   
  }
}