<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>


<IfModule mime_module>
AddType image/svg+xml .svg .svgz
AddEncoding gzip .svgz
</IfModule>
